body{
    background-image: url('img/5_background/background.png');
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0;
}

.start{
 display: flex;
 flex-direction: column;
}


h1{
    color: white; 
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 3px rgb(130, 44, 12);
    font-size:100px;
    font-weight: 600;
    margin-top: 50px;
    color: yellow;
    margin-bottom: 70px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
  letter-spacing: 0.1em;
  background-image: linear-gradient(rgb(255, 166, 0) 10%, rgb(255, 230, 0) 60%, rgb(255, 128, 0) 90%);   
}

.startImg{
    width:720px;
    height:460px;
}

.d-none{
    display: none!important;
}

.d-block{
    display: block;
}

.game-over{
    border-radius: 50px;
    box-shadow: 10px 10px 20px 15px silver;

}

.dont-rotate{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.full-screen{
    margin-top: 25px;
    height: 90vh;
    width: 90vw;    
    z-index: 1000000;
}

.sound-button{
    margin-left: 307px;
    margin-top: -38px;
    width: 30px;
    height: 30px;
    position: absolute;
}

.sound-button:hover{
    cursor: pointer;
    opacity: 0.6;
}

.info{
    position: absolute;
    background-color: rgb(196 224 234);
    width: 720px;
    height: 480px;
    border-radius: 30px;
    display: flex;
    flex-direction: column-reverse;
    z-index: 1000000000;
    box-shadow: 10px 10px 20px 15px silver;
}

.full-key{
    margin-top: 76vh!important;
    width: 76%!important;
}

.info-button{
    position: absolute;
    margin-left: 250px;
    margin-top: -38px;
    height: 35px;
    width: 35px;
}

.none-button{
    display: none;
}

.info-button:hover{
    cursor: pointer;
    opacity: 0.6;
}

.full-screen-button{
    margin-left: 317px;
    margin-top: 313px;
    width: 30px;
    height: 30px;
    position: absolute;
    z-index: 1000000000;
}

.full-screen-button:hover{
    opacity: 0.6;
    cursor: pointer;
}

.screen-button{
    padding-left: 80vw;
    padding-top: 85vh;
    width: 30px;
    height: 30px;
    position: absolute;
    z-index: 1000000000;
}

.screen-button:hover{
    opacity: 0.6;
    cursor: pointer;
}

.button{
    position: absolute;
    border-radius: 10px;
    width: 225px;
    height: 50px;
    margin-top: 66px;
    color: white; 
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 3px rgb(130, 44, 12);
    font-size:30px;
    font-weight: 600;
    color: yellow;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
  letter-spacing: 0.1em;
  background-image: linear-gradient(rgb(255, 166, 0) 10%, rgb(255, 230, 0) 60%, rgb(255, 128, 0) 90%);
}

.midle{
    margin-left: 246px;
    /*margin-top: 60px!important;*/
    z-index: 1000000000;
}

.midle-full{
    margin-left: 285px;
    margin-top: 96px;
    z-index: 10000000000000000000000;
}

.button:hover{
    cursor: pointer;
    opacity: 0.3;
}

#start-img{
    border-radius: 50px;
    box-shadow: 10px 10px 20px 15px silver;
}

canvas{
    border-radius: 50px;
    box-shadow: 10px 10px 20px 15px silver;
    display: block;
}

.icon-full{
    z-index: 1000000000;
    margin-top: -336px!important;
    margin-left: 60vh;
}

.key{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 77px;
}

.key-description{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 30px;
}

.key-description-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 30px;
    background-color:rgb(196 224 234);
    border-radius: 50px;
    color: #966409;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 29px;
    text-align: center;
}

.cancel{
    width: 24px;
    margin-left: 31px;
    cursor: pointer;
}

.cancel:hover{
    opacity: 0.6;
}

.space{
    height: 30px;
    width: 48px;
    margin-top: 11px;
    margin-bottom: 11px;
}

.rechts{
    transform: scaleX(-1);
}

.mobile-key{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    position: absolute;
    margin-top: 65vh;
    width: 31%;
    z-index: 1000000000000;
}

.together{
    display: flex;
    flex-direction: row;
    gap: 60px;
}

.rotate{
    display: none;
    color: white; 
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 3px rgb(130, 44, 12);
    font-size:79px;
    font-weight: 600;
    margin-top: 50%;
    color: yellow;
    margin-bottom: 70px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    letter-spacing: 0.1em;
    background-image: linear-gradient(rgb(255, 166, 0) 10%, rgb(255, 230, 0) 60%, rgb(255, 128, 0) 90%);   
    }



@media only screen and (max-width: 1007px){
        h1{
            font-size: 80px;
        }
        .mobile-key {
            margin-top: 568px;
        }
    }

    @media only screen and (max-width: 806px){
        h1{
            font-size: 50px;
        }

        .midle-full{
            height: 99px;
            font-size: 53px;
            width: 259px;
            margin-left: 190px;
        }
    }

    @media only screen and (max-width: 751px){
        #start-img, #canvas,  #game_over_win, #game_over_win2,  #game_over,  #game_over2{
            width: 100%;
            height: 100%;
        }

        .info{
            width: 100%;
        }

        .midle{
            margin-left: 145px!important;
            margin-top: 35px!important;
        }

        .mobile-key {
            margin-top: 75vw;
        }
    }

    @media only screen and (max-width:520px){
        .rotate{
            font-size: 50px;
        }

        .st-midle{
            margin-left: 0px;
        }

        .button{
            width: 153px;
            height: 44px;
        }
    }

    @media only screen and (max-width:420px){
        .rotate{
            display: block;
            color: white;      
        }
    
        .dont-rotate{
            display: none;
            
        }
    }

    @media only screen and (max-height: 728px){
        h1{
            display: none;
        }

        body{
            justify-content: center;
        }

        .rotate{
            margin-top: 0;
            margin-bottom: 0;
        }

        .mobile-key{
            margin-top: 371px;
        }
    }

    @media only screen and (max-height: 705px){
        .midle-full {
            margin-top: 20px !important;
            height: 58px;
            font-size: 38px;
            width: 234px;
        }
    } 

    @media only screen and (max-height: 536px){
        #start-img, #canvas,  #game_over_win, #game_over_win2, .info,  #game_over,  #game_over2{
            height: 100vh;
            width: 66vw;
        }

        .st-midle{
            margin-top: -14px !important;
        }

        .midle{
            margin-top: 37px !important;
        }
    }

    @media only screen and (max-height: 470px){
        .mobile-key {
            margin-top: 77vh!important;
        }
    } 

    @media only screen and (max-height: 444px){
        .midle-full {
            margin-top: -15px!important;
        }

        .information {
            padding-top: 25px;
        }
    } 

    @media only screen and (min-height: 728px)and (max-width: 751px){
        .midle{
            margin-top: 40px;
        }

        .information {
            padding-top: 0px;
        }
    }

    @media only screen and (min-height: 536px)and (max-width: 751px){
        .information {
            padding-top: 0px;
        }
    }


    @media only screen and (max-height: 728px)and (max-width: 1007px){

        .mobile-key{
            margin-top: 371px;
        }
    }

    @media only screen and (max-height: 536px)and (max-width: 1155px){
        #start-img, #canvas,  #game_over_win, #game_over_win2,  #game_over,  #game_over2{
            height: 95vh;
            width: 93vw;
        }

        .info{
            height: 95vh;
            width: 93vw;
            top: 10px;
        }

        .st-midle {
            margin-top: -7px !important;
        }

        .midle{
            margin-top: 37px!important;
        }
    }

    @media only screen and (max-height: 550px)and (max-width: 774px){
        .key-description-text {
            font-size: 20px;
        }
    }

    @media only screen and (max-height: 307px)and (max-width: 762px){
        .key-description {
            margin-top: 0px;
        }
    }

    @media only screen and (max-height: 307px)and (min-width: 762px){
        .key-description-text {
            font-size: 20px;
        }

        .key-description {
            margin-top: 0px;
        }
    }
