body{
    background-image: url('img/5_background/background.png');
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0;
}

.start{
 display: flex;
 flex-direction: column;
}


h1{
    color: white; 
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 3px rgb(130, 44, 12);
    font-size:100px;
    font-weight: 600;
    margin-top: 50px;
    color: yellow;
    margin-bottom: 70px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
  letter-spacing: 0.1em;
  background-image: linear-gradient(rgb(255, 166, 0) 10%, rgb(255, 230, 0) 60%, rgb(255, 128, 0) 90%);   
}

.startImg{
    width:720px;
    height:460px;
}

.d-none{
    display: none!important;
}

.d-block{
    display: block;
}

.game-over{
    border-radius: 50px;
    box-shadow: 10px 10px 20px 15px silver;

}

.dont-rotate{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.full-screen{
    margin-top: 25px;
    height: 90vh;
    width: 90vw;    
    z-index: 1000000;
}

.sound-button{
    margin-left: 307px;
    margin-top: -38px;
    width: 30px;
    height: 30px;
    position: absolute;
}

.sound-button:hover{
    cursor: pointer;
    opacity: 0.6;
}

.info{
    position: absolute;
    background-color: rgb(196 224 234);
    width: 720px;
    height: 480px;
    border-radius: 30px;
    display: flex;
    flex-direction: column-reverse;
    z-index: 1000000000;
    box-shadow: 10px 10px 20px 15px silver;
}

.full-key{
    margin-top: 76vh!important;
    width: 76%!important;
}

.info-button{
    position: absolute;
    margin-left: 250px;
    margin-top: -38px;
    height: 35px;
    width: 35px;
}

.none-button{
    display: none;
}

.info-button:hover{
    cursor: pointer;
    opacity: 0.6;
}

.full-screen-button{
    margin-left: 317px;
    margin-top: 313px;
    width: 30px;
    height: 30px;
    position: absolute;
    z-index: 1000000000;
}

.full-screen-button:hover{
    opacity: 0.6;
    cursor: pointer;
}

.screen-button{
    padding-left: 80vw;
    padding-top: 85vh;
    width: 30px;
    height: 30px;
    position: absolute;
    z-index: 1000000000;
}

.screen-button:hover{
    opacity: 0.6;
    cursor: pointer;
}

.button{
    position: absolute;
    border-radius: 10px;
    width: 225px;
    height: 50px;
    margin-top: 66px;
    color: white; 
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 3px rgb(130, 44, 12);
    font-size:30px;
    font-weight: 600;
    color: yellow;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
  letter-spacing: 0.1em;
  background-image: linear-gradient(rgb(255, 166, 0) 10%, rgb(255, 230, 0) 60%, rgb(255, 128, 0) 90%);
}

.midle{
    margin-left: 246px;
    /*margin-top: 60px!important;*/
    z-index: 1000000000;
}

.midle-full{
    margin-left: 285px;
    margin-top: 96px;
    z-index: 10000000000000000000000;
}

.button:hover{
    cursor: pointer;
    opacity: 0.3;
}

#start-img{
    border-radius: 50px;
    box-shadow: 10px 10px 20px 15px silver;
}

canvas{
    border-radius: 50px;
    box-shadow: 10px 10px 20px 15px silver;
    display: block;
}

.icon-full{
    z-index: 1000000000;
    margin-top: -336px!important;
    margin-left: 60vh;
}

.key{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 77px;
}

.key-description{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 30px;
}

.key-description-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 30px;
    background-color:rgb(196 224 234);
    border-radius: 50px;
    color: #966409;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 29px;
    text-align: center;
}

.cancel{
    width: 24px;
    margin-left: 31px;
    cursor: pointer;
}

.cancel:hover{
    opacity: 0.6;
}

.space{
    height: 30px;
    width: 48px;
    margin-top: 11px;
    margin-bottom: 11px;
}

.rechts{
    transform: scaleX(-1);
}

.mobile-key{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    position: absolute;
    margin-top: 65vh;
    width: 31%;
    z-index: 1000000000000;
}

.together{
    display: flex;
    flex-direction: row;
    gap: 60px;
}

.rotate{
    display: none;
    color: white; 
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 3px rgb(130, 44, 12);
    font-size:79px;
    font-weight: 600;
    margin-top: 50%;
    color: yellow;
    margin-bottom: 70px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    letter-spacing: 0.1em;
    background-image: linear-gradient(rgb(255, 166, 0) 10%, rgb(255, 230, 0) 60%, rgb(255, 128, 0) 90%);   
    }

    @media only screen and (max-width: 1450px){
    .icon-full{
        margin-left: 46vh;
    }
}

@media only screen and (max-width: 1024px){
    .sound-button{
        margin-top: -58px;
    }

    .info-button{
        margin-top: -58px;
    }

    .full-screen-button {
        margin-top: 300px;
    }

    #gamename{
        font-size: 67px;
    }

    .mobile-key {
        margin-top: 61vh;
    }

    .icon-full{
        margin-left: 307px;
    }

    .info {
        width: 720px;
    }
}
@media only screen and (max-width: 900px){

    body{
        background-size: initial;
    }

    canvas{
        width: 100%;
    }

    .game-over{
        width: 100%;
        height: 100%;
    }

    .start{
        width: 100%; 
        margin-top: 5px;
    }

    #start-img{
        width: 100%;
        height: 100%;
        margin-top: 4px;
    }
    
    .info{
        width: 100%;
        margin-top: 4px;
    }

    #gamename{
        font-size: 50px;
        margin-top: 20px;
    }

    .sound-button{
        margin-top: -108px;
    }

    .info-button{
        margin-top: -108px;
    }

    .button{
        margin-left: 67px;
        margin-top: 22px;
    }

    .full-screen-button{
        display: none;
    }

    .key-description{
        margin-top: 10px;
        font-size: 12px;
    }

    .key-description-text{
        margin-top: 27px;
    }

    .mobile-key{
        margin-top: 58vh;
        width: 80%;
    }

    .rechts{
        margin-left: 5px;
    }

    .key-description{
        margin-right: 10px;
    }

    .screen-button {
        padding-top: 45vh;
    }

    .icon-full{
        margin-top: -200px!important;
        margin-left: 307px;
    }
}


@media only screen and (max-width:850px){
    .mobile-key{
        margin-top: 57vh;
    }

    .icon-full{
        margin-top: -180px!important;
    }
}


@media only screen and (max-width:808px){
    .mobile-key{
        margin-top: 58vh;
    }
}



@media only screen and (max-width:769px){
    .mobile-key{
        margin-top: 58vh;
    }

    .icon-full{
        margin-top: -150px!important;
    }
}


@media only screen and (max-width:717px){
    .mobile-key{
        margin-top: 55vh;
    }

    .screen-button {
        padding-top: 40vh;
}
}


@media only screen and (max-width:753px){
.sound-button{
    margin-left: 275px;
    margin-top: -74px;
}

.info-button{
    margin-left: 220px;
    margin-top: -74px;
}
}

@media only screen and (max-width:693px){
    .mobile-key{
        margin-top: 51vh;
    }
}

@media only screen and (max-width:671px){
    .mobile-key{
        margin-top: 52vh;
    }

    .key-description-text {
        margin-top: 27px;
        font-size: 25px;
    }

    .screen-button {
        padding-top: 36vh;
    }

    .icon-full{
        margin-top: -130px!important;
    }
}

@media only screen and (max-width:613px){
    .sound-button{
        margin-top: -36px;
        margin-left: 207px;
    }

    .info-button{
        margin-left: 150px;
        margin-top: -36px;
    }

    .screen-button {
        margin-top: -25px!important;
    } 

    .icon-full{
        margin-top: -110px!important;
    }

    .mobile-key{
        margin-top: 48vh;
    }
}


@media only screen and (max-width:536px){

    .screen-button {
        margin-top: -27px!important;
    } 

    .mobile-key{
        margin-top: 45vh;
    }

}


@media only screen and (max-width:520px){
    .sound-button{
        margin-top: -55px;
        margin-left: 190px;
    }

    .info-button{
        margin-left: 140px;
        margin-top: -55px;
    }

    #start-img {
        margin-top: -57px;
    }

    .info{
        margin-top: -57px;
    }

.button {
    margin-top: -44px;
}

.screen-button {
    margin-top: -52px!important;
} 

.full-screen{
    margin-top: -3px!important;
}

.midle-full{
    margin-left: 150px;
    margin-top: 16px;
}

.midle{
 /*   margin-top: 10px!important;*/
}
}

@media only screen and (max-width:505px){
    .sound-button{
        margin-top: -20px;
        margin-left: 190px;
    }

    .info-button{
        margin-left: 140px;
        margin-top: -20px;
    }

    .screen-button {
        margin-top: -62px!important;
    }    

    .midle-full{
        margin-top: 12px!important;
    }

    .midle{
      /*  margin-top: 15px!important;*/
    }

    .mobile-key{
        margin-top: 50vh;
    }
}

@media only screen and (max-width:480px){
   
    .button{
      margin-top: -26px;
    }

    #start-img {
        margin-top: -37px;
    }

    .info{
        margin-top: -37px;
    }

    .sound-button{
        margin-top: 5px;
        margin-left: 170px;
    }

    .info-button{
        margin-left: 120px;
        margin-top: 5px;
    }

    #gamename{
        font-size: 53px;
    }

    .key-description-text {
        margin-top: 24px;
        font-size: 21px;
    }

    .screen-button {
        margin-top: -65px!important;
    }   

    .icon-full{
        margin-top: -95px!important;
    }

    .midle-full{
        margin-left: 111px!important;
    }

    .mobile-key{
        margin-top: 48vh;
    }

}


@media only screen and (max-width:420px){
    .rotate{
        display: block;
        color: white;      
    }

    .dont-rotate{
        display: none;
        
    }
}



@media only screen and (max-width:393px){
    .sound-button {
        margin-top: 206px;
        margin-left: -126px;
    }

    .button{
        margin-top: 50%;
        width: 180px;
        height: 42px;
        margin-left: 23%;
      }

      .key-description-text {
        margin-top: 0px;
    }

    .rotate{
        font-size: 60px;
    }
}

@media only screen and (max-width:305px){
    .sound-button {
        margin-top: 217px;
        margin-left: -40px;
    }

    .info-button {
        margin-top: 214px;
        margin-left: 40px;
    }

    .button{
        margin-top: 50%;
        margin-left: 1%;
    }
    
    .info{
        height: 64%;
        }
}


@media only screen and (max-width:270px){
    .rotate{
        font-size: 40px;
    }
}


@media only screen and (max-height: 920px){
    .mobile-key{
        margin-top: 70vh;
    }

}

@media only screen and (max-height: 847px){
    .icon-full{
        margin-top: -262px!important;
        margin-left: 70vh;
    }

    .full-screen{
        margin-top: 35px!important;
        width: 100vw
    }

    .mobile-key {
        margin-top: 76vh;
    }
   
}

@media only screen and (max-height: 787px){
.mobile-key {
    margin-top: 82vh;
}
}


@media only screen and (max-height: 743px){
    #gamename {
        display: none;
    }

    #start-img {
        margin-top: 114px;
        }
    
        .info-button {
            margin-top: -132px;
        }
    
        .sound-button {
            margin-top: -132px;
        }
    
        .full-screen-button {
            margin-top: 226px;
        }

        .full-screen{
            margin-top: 35px!important;
        }

        .midle {
            margin-left: 246px;
            margin-top: 145px;
        }

        .icon-full {
            margin-top: -230px!important;
            margin-left: 85vh;
        }

        #button-over{
            margin-top: 48px;
        }

        .full-screen-button {
            margin-top: 254px;
        }

        .mobile-key {
            margin-top: 51vh;
        }

        .info{ 
            margin-top: 114px;
        }
}

@media only screen and (max-height:670px){
.icon-full {
    margin-top: -181px!important;
    margin-left: 100vh;
}

.mobile-key {
    margin-top: 59vh;
}
}

@media only screen and (max-height:600px){
    #gamename {
        display: none;
    }

    .info{ 
        margin-top: 48px;
    }

    #start-img {
    margin-top: 48px;
    }

    .info-button {
        margin-top: -172px;
    }

    .sound-button {
        margin-top: -172px;
    }

    .full-screen-button {
        margin-top: 200px;
    }

    .midle {
        margin-left: 246px;
        margin-top: 60px;
    }

    .mobile-key {
        margin-top: 67vh;
    }
    
}


@media only screen and (max-height:541px){
    
    .icon-full {
        margin-top: -151px!important;
        margin-left: 120vh;
    }
    
    #start-img {
    margin-top: 0px;
    }

    .info-button {
        margin-top: -172px;
    }

    .sound-button {
        margin-top: -172px;
    }

    .full-screen-button {
        margin-top: 204px;
    }

    .mobile-key {
        margin-top: 78vh;
    }

    .info{ 
        margin-top: 0px;
    }
}


@media only screen and (max-height:479px){
    #gamename {
    display: none;
    }

    .start{
        margin-top: 0px;
    }
    #start-img {
        width: 100%;
        height: 100vh;
        margin-top: 0px;
    }

    .info{
        width: 769px;
        height: 100vh;
        margin-top: 0px;
    }

    .info-button {
        margin-left: 182px;
        margin-top: -172px;
    }

    .sound-button {
        margin-left: 250px;
        margin-top: -172px;
    }

    .key-description-text {
        margin-top: 2px;
    }

    .key {
        margin-bottom: 39px;
    }

    canvas {
        width: 133%;
        height: 100vh;
        margin-top: 0px;
    }

    .game-over {
        width: 100%;
        height: 100vh;
        margin-top: 0px;
        margin-left: 0px;
    }

    .screen-button {
        padding-left: 48vw;
    }

    .full-screen-button {
       display: none;
    }

    .mobile-key {
        margin-top: 85vh;
    }

    .midle {
        margin-left: 164px;
        margin-top: 16px!important;
    }

    .icon-full{
        margin-left: 76vh;
    }

    .full-screen {
        margin-top: 0px!important;
    }

    .midle-full{
        margin-top: 38px;
    }
}

@media only screen and (max-height: 450px){
    .screen-button {
        padding-left: 41vw;
    }

    canvas{
        width: 125%;
    }
}

@media only screen and (max-height: 412px){

canvas{
    width: 118%;
}

.mobile-key {
    margin-top: 80vh;
    width: 77%;
}

.info-button {
    margin-left: 182px;
    margin-top: -155px;
}

.sound-button {
    margin-left: 228px;
    margin-top: -155px;
}

.screen-button {
    padding-left: 30vw;
}

.info{
    width: 733px;
}

.key-description-text {
   font-size: 25px;
}
}

@media only screen and (max-height: 393px){
    .info{
        width: 697px;
    }
}
@media only screen and (max-height: 370px){
    
    .info-button {
        margin-left: 182px;
        margin-top: -140px;
        width: 25px;
        height: 25px;
    }
    
    .sound-button {
        margin-left: 236px;
        margin-top: -140px;
        width: 25px;
        height: 25px;
    }

    .screen-button {
        padding-left: 27vw;
    }

    .icon-full{
        margin-left: 229px;
        margin-top: -104px!important;
    }

    .midle-full {
        margin-left: 156px;
    }

    .info {
        width: 662px;
    }

    .key-description-text {
        font-size: 19px;
    }

    }
    

    @media only screen and (max-height: 326px){
    
        .info-button {
            margin-left: 182px;
            margin-top: -120px;
        }
        
        .sound-button {
            margin-left: 155px;
            margin-top: -120px;
        }

        .mobile-key {
            width: 23%;
        }

        .midle-full {
            margin-top: 21px;
        }

        .key {
            margin-bottom: 19px;
        }
    }

    @media only screen and (max-height: 300px){
    .info {
        width: 500px;
    }
}